nav {
    /* background-image: url("../images/banner1.jpg"); */
    /* background-size: 70%;
    background-position: 20%; */
    /* background-color: #2d2f31; */
    border-bottom: 1px solid linear-gradient(45deg ,white 20%, black);
    border-radius: 0px 0px 5px 5px;
    background-image: linear-gradient(45deg ,white 20%, black);
}

.nav-item {
    transition: transform 0.1s ease-in-out;
}

.nav-item:hover {
    transform: scale(1.2);
}

form {
    margin: 50px;
}

.feedback-input {
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #5f9dff;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus {
    border: 2px solid #5f9dff;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

[type="submit"] {
    width: 100%;
    background-color: #3e88ff;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
    position: relative;
    z-index: 11;
}

[type="submit"]:hover {
    background: #5f9dff;
}